body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #ffffff;
}

.quote-box {
  padding: 15px;
}

.title {
  text-align: center;
  color: #003399;
  font-weight: bold;
  font-style: italic;
}

.greeting {
  margin-top: 10px;
  color: #003399;
  font-weight: bold;
  font-style: italic;
}

.quote {
  margin-top: 6px;
  color: #003399;
  font-style: italic;
}
